body {
    background-color: #f8f9fa;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
    font-family: Verdana, Tahoma, sans-serif;
}

/* Custom Carousel Styling */
.carousel-container {
    max-width: 600px; /* Adjust width */
    max-height: 350px; /* Adjust height */
    margin: auto; /* Centering */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.carousel-container-about {
    max-width: 1000; /* Adjust width */
    max-height: 1000; /* Adjust height */
    margin: auto; /* Centering */
    border-radius: 25px; /* Rounded corners */
    overflow: visible;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out 
}


.carousel-inner img {
    border-radius: 15px; /* Ensures images match container rounding */
    object-fit: cover; /* Ensures the images fill the container */
    height: 100px; /* Keep consistent height */
    justify-content: center;
    align-items: center;
}



Controls Styling
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Makes icons white */
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    opacity: 1;
}